<%- include('header'); -%>
 <div class="contacts">
 <h1 id="contact">Contacts</h1>
 <table>
   <tr>
     <th>Name</th>
     <th>Address</th>
     <th>Phone</th>
     <th>Email</th>
   </tr>

  <tr>
    <th>Joe</th>
    <th>31 Street, AB3 0DF</th>
    <th>07312 183928</th>
    <th>joe@email.com</th>
  </tr> 
  <tr>
    <th>Ben</th>
    <th>12 Avenue, PY0 0FF</th>
    <th>07318 932812</th>
    <th>ben@email.com</th>
    </tr> 
</table>


 </div>
<%- include('footer'); -%>